/* Author Archives
/* ---------------------------------------------------------- */
.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header h1 {
    margin: 0 0 .5rem 0;
}

.author-header p {
    margin: 0;
    color: @color-secondary;
    font-size: 2.2rem;
    line-height: 1.3em;
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 500px) {
    .author-header {
        border-bottom: @color-bg 1px solid;
        padding-bottom: 4vw;
    }

    .author-header p {
        font-size: 1.7rem;
    }

    .author-header-image {
        height: 80px;
        width: 80px;
    }
}

/* Post Author Card
/* ---------------------------------------------------------- */

.post-author {
    display: flex;
    margin: 60px 0 100px;
    padding-top: 60px;
    border-top: 1px solid #e2e2e2;
}

.post-author .post-author-content {
    margin-right: 20px;
}

.post-author-name {
    margin: 0 0 .5em 0;
    font-size: 1.7em;
    font-family: @font-title;
    color: @color-content-title;
}

.post-author-bio {
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

.post-author-image {
    width: 116px;
    height: 116px;
    min-width: 116px;
    border-radius: 50%;
    overflow: hidden;
}

@media(max-width: @mobile-breakpoint) {
    .post-author-image {
        width: 100px;
        height: 100px;
        min-width: 100px;
    }
}

.post-author-item {
    color: @color-secondary;
    opacity: .7;
    margin-right: 20px;
    font-size: .9em;
}

.post-author-item svg {
    margin-right: 5px;
    font-size: .9em;
}
