/* Footer
/* ---------------------------------------------------------- */
.site-foot {
    padding: 40px 0;
    background: #fff;
    box-shadow: @shadow;
    color: rgba(53, 53, 53, 0.7);
    font-size: 1.3rem;

    .footer-text {
        max-width: 90%;
        margin: auto;
        line-height: 1.4;
        text-align: center;
    }
}
