.bm-menu {
  padding: 2.5em 1.5em 0;
  background: @color-primary;
  font-size: 1.15em;

  .bm-item-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content !important;
    margin: auto;
    color: #fff;
    opacity: 1;

    .bm-item {
      display: inline-block;
      width: fit-content;
      margin: 0 auto 20px;
      margin-bottom: 30px;
      outline-color: transparent;
      outline-style: none;
      color: #fff;
      font-size: 1.3em !important;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: white;
      }
    }
  }
}

.bm-burger-button {
  display: none;
  position: absolute;
  top: 29px;
  right: 35px;
  width: 32px;
  height: 27px;
  outline-color: transparent;
  outline-style: none;

  .bm-burger-bars {
    height: 15% !important;
    background: #373a47;
  }
}

.bm-cross-button {
  top: 13px !important;
  right: 20px !important;
  width: 34px !important;
  height: 34px !important;

  .bm-cross {
    height: 30px !important;
    background: #fff;
  }
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media(max-width: @mobile-breakpoint) {
  .page-template .bm-burger-button,
  .post-template .bm-burger-button {
    display: block;
  }
}

.tag-template .bm-menu-wrap {
  display: none;
}
