/* Tag Archives
/* ---------------------------------------------------------- */
.tag-header {
    margin: 0;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #e8e9ef;
}

.tag-header h1 {
    margin: 0 0 1.5rem 0;
    font-size: 1.8em;
    color: #44495e;
    font-weight: 100;
}

.tag-header p {
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #44495e;
    margin: 0;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: @color-bg 1px solid;
        padding-bottom: 4vw;
    }

    .tag-header p {
        font-size: 1.7rem;
    }
}
